.btn-form {
	margin-top:2%;
	margin-left:2%;
}

.form-title-hr {
	border-top: 3px solid #bdbcbc;
}

.form-group {
	margin-top:1%;
	margin-bottom:0px;
}

.mid-form-control {
	width:35%;
	display:inline;
}

.thumb_slika{
	width:100%;
	max-width:120px;
	border:4px outset darkgray;
	margin:auto;
	margin-top:0;
	transition: all 0.3s ease;
}

.contact-spacing {
	margin-top:20%;
}

.company-info, .contact-info, .social-media-info {
	margin-top:2%;
	margin-bottom:2%;
	font-color:#222222;
	font-weight: bold;
}

.info {
	padding-left:5%;
	text-align:justify;
}

.thumb_slika:hover {
	transform: scale(1.3, 1.3);
	opacity:1;
}

.thumb-row {
	margin:0;
}

.golema_slika{
	max-height:450px;
	border:4px outset darkgray;
}

.contents-margin {
	margin-top:3%;
}

.show-product-desc {
	margin:auto;
	margin-top:20%;
}

.back-btn-div {
	margin:auto;
	margin-top:4%;
}

.cat-pill {
	border:0;
	background: #DDDDDD;
    background: -webkit-linear-gradient(left top, #DDDDDD, white); 
    background: -o-linear-gradient(bottom right, #DDDDDD, white); 
    background: -moz-linear-gradient(bottom right, #DDDDDD, white); 
    background: linear-gradient(to bottom right, #DDDDDD, white); 
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.cat-pill:hover {
	/*border:2px outset grey;*/
	font-size: 1.5em;
	background: #777777;
	background: -webkit-linear-gradient(left top, #444444, #AAAAAA); 
    background: -o-linear-gradient(bottom right, #444444, #AAAAAA); 
    background: -moz-linear-gradient(bottom right, #444444, #AAAAAA); 
    background: linear-gradient(to bottom right, #444444, #AAAAAA);
}


h2.nop {
	margin:auto;
	margin-top:10%;
	color:#222222;
	text-align:centar;
}

.pagelinks {
	display:block;
	text-align:center;
	background-color: #CCCCCC;
    background: -webkit-radial-gradient(#CCCCCC, white);
  	background: -o-radial-gradient(#CCCCCC, white);
  	background: -moz-radial-gradient(#CCCCCC, white);
  	background: radial-gradient(#CCCCCC, white);
	/*margin-top:1000px;*/
}

.title {
	font-family: 'Droid Serif', serif;
	display:block;
	text-align:center;
	margin:auto;
	background: -webkit-radial-gradient(#CCCCCC, white);
  	background: -o-radial-gradient(#CCCCCC, white);
  	background: -moz-radial-gradient(#CCCCCC, white);
  	background: radial-gradient(#CCCCCC, white);
  	margin-top:2%;
  	margin-bottom:2%;
	font-size: 2em;
}

.pagination {
	border:3px groove #666666;
	color:black;
	z-index:0;
}

.pagination li a {
	/*border:1px solid #333333;
	color:#444444;*/
}

/*.pagination {
	display:block;
	text-align: center;
	border:1px solid black;
	color:black;
	margin:auto;
	background-color: #AAAAAA;
}*/

.products {
	background-color: white;
}

.block-lbl {
	display:block;
}

.m2-form-control {
	margin-right:3%;
	margin-bottom: 20%;
}

.m2-control-label {
	margin-top:5%;
}

.mod-lg-form-group {
	margin-top:3%;
}

.tight-form-control {
	display:inline;
	width:15%;
}

.img-gallery-thumb {
	margin-bottom:8%;
}

.modal-container {
	width:100%;
}

.thumb-row {
	width:100%;
	margin:5%;
	padding:3%;
}

.del-product {
	display:none;
	max-width:50%;
}

span.q1 {
	margin:auto;
	margin-bottom:10%;
}

.titlediv {
	background-color:#CCCCCC;
}

.product-image {
	position:relative;
	margin:0;
	margin-left:2%;
	padding:0;
	padding-left:3%;
	/*height:10%;*/
	width:80%;
}

span.produkt {
	font-size: 1.7em;
}

.footer-container {

}

.modal-dialog {
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	z-index: 200;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	overflow-y:hidden;
}

.modal-content {
	background-color:#fefefe;
	margin:15% auto;
	margin-top:8vw;
	padding:20px;
	border:1px solid #888;
	width:80%;
	max-height: 70%;
	z-index:100;
	/*max-height: 90%;*/
	overflow-y:scroll;
	overflow-x:hidden;
}

.close-modal {
	color:#aaa;
	float:right;
	font-size:28px;
	font-weight: bold;
	cursor:pointer;
}

.close-modal:hover,
.close-modal:focus {
	color:black;
	text-decoration: none;
	cursor:pointer;
}

.modal-div {
	margin-top:2%;
}

.mform-control {
	display:inline-block;
	width:80%;
	margin-left:0;
	margin-right:20%;
	padding:0;
	margin-bottom:5%;
}

.btn-inverted-default {
	background-color:#222222;
	color:#dddddd;
}
.products-table {
	margin-top:2.5%;
}

.editthumb {
	max-width:50%;
	margin-top:5%;
}

@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
	}
}

#btn_kategorii {
	
}

.btn_kategorii {
	margin:auto;
	margin-top:6%;
	margin-bottom:4%;
	display:block;
	width:100%;
	/*text-decoration: underline;*/
	font-size: 1.3em;
}

.attached_btn_kategorii {
	margin:auto;
	margin-top:0%;
	margin-bottom:0;
	font-size: 1em;
}


/*.kategorii li .active a,
.kategorii li .active a:hover {
    background-color: red;
}*/

.div_kategorii {
	text-align: center;
}

.kategorii {
	display:inline-block;
	/*margin:auto;
	text-align: center;*/
}

.kategorii li.active a {
	background-color:#222222;
}

.fixed-categories {
	position:fixed;
	top:0;
	left:0;
	display:block;
	z-index:2;
}

/*.kategorii > li {
	display:table;
	margin: 0px auto 0px auto;
}*/

.link-btn {
	 background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
}

#otvorena_slika {
	max-width: 600px;
	max-height: 600px;
}